#root.uh-organized-hide-icon .scene-card .organized {
    display: none;
}

#root.uh-unorganized-fade .scene-card:not(:has(div.organized)) {
    opacity: 0.5;
}

#root.uh-unorganized-grayscale .scene-card:not(:has(div.organized)) {
    filter: grayscale(1);
}
